<%= form_for @broker do |f| %>
  <div>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :website, "Website" %>
    <%= f.text_field :website %>
  </div>
  <div>
    <%= f.label :image, "Image URL" %>
    <%= f.text_field :image %>
  </div>
  <div>
    <%= f.label :min_deposit, "Min. Deposit" %>
    <%= f.number_field :min_deposit %>
  </div>
  <div>
    <%= f.label :stock_trade_fee, "Stock Trade Fee" %>
    <%= f.number_field :stock_trade_fee %>
  </div>
  <div>
    <%= f.label :mutual_fund_trade_fee, "Mutual Fund Trade Fee" %>
    <%= f.number_field :mutual_fund_trade_fee %>
  </div>
  <div>
    <%= f.label :option_base_trade_fee, "Option Base Trade Fee" %>
    <%= f.number_field :option_base_trade_fee %>
  </div>
  <div>
    <%= f.label :margin_rate, "Margin Rate" %>
    <%= f.number_field :margin_rate, step: 0.0001 %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>